---
interface Props {
    url?: string;
}

const { url } = Astro.props;
const defaultUrl = 'https://discord.com/channels/488931914863083561/1398069128232698016';
---

<section class="mt-12 text-center">
    {url ? (
        <p class="text-lg">
            <a href={url} class="text-purple-400 hover:text-purple-300">
                Continue the conversation on the Discord thread and let us know your thoughts!
            </a>
        </p>
    ) : (
        <p class="text-lg">
            <a href={defaultUrl} class="text-purple-400 hover:text-purple-300">
                Continue the conversation on this post and others at the Cocoboko Cafe!
            </a>
        </p>
    )}
</section>
