---
---

<footer class="bg-slate-900 text-white py-12">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:place-items-center text-center">
            <div class="space-y-4">
                <h3 class="text-purple-500 font-semibold text-lg">Cocoboko Studios</h3>
                <p class="text-gray-400 text-sm max-w-xl mx-auto">Dedicated to proving that anyone can chase their passions, spark creativity, and never forget what insprires us.</p>
            </div>

            <div>
                <h4 class="text-white font-semibold mb-4">Quick Links</h4>
                <ul class="space-y-2 flex flex-col items-center">
                    <li><a href="/privacy-policy" class="text-gray-400 hover:text-purple-400">Privacy Policy</a></li>
                    <li><a href="/code-of-conduct" class="text-gray-400 hover:text-purple-400">Code of Conduct</a></li>
                </ul>
            </div>
        </div>
        
        <div class="border-t border-gray-800 mt-12 pt-8 text-center text-gray-400 text-sm">
            <p>&copy; {new Date().getFullYear()} Cocoboko Studios. All Rights Reserved.</p>
        </div>
    </div>
</footer>
