---
---

<div class="relative min-h-[calc(100vh-64px)] bg-slate-800 text-white flex items-center justify-center py-16">
    <div class="absolute inset-0 z-0 bg-[url('/src/assets/background.svg')] bg-cover bg-center opacity-20">
    </div>
    <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full py-20">
        <div class="text-center max-w-3xl mx-auto">
            <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-6">Dream. Discover. Defy.</h1>
            <p class="text-lg sm:text-xl text-gray-300 mb-12 px-4">
                Cocoboko Studios is an independent game studio focused on exploration, storytelling, and simulation. Currently in development.
            </p>
        </div>
    </div>
</div>
